# your PFB domain, change it to the real one, example https://yourdomainpfb.com
APP_DOMAIN=http://localhost:5000
# your lightnode address and port, change it to the real one
API_URL_DEFAULT=http://localhost:26659